@(formAdm: Form[Administrador],formEndereco: Form[Endereco])
@import meuhelper._
@main("Inicio") {

	<div class="banner">
      <div class="wrapper clearfix">
        @link("#","Bem Vindo Fulano!") 
        
        <h1>Pixel Perfect <br> Loja Intranet</h1>
      </div>
    </div>
    
    <div class="nav">
        <div class="wrapper">
        @titulo("Cadastro de Administradores","title","true")
        </div>
     </div>

	<div class="wrapper_cadastro">
			
		@meuhelper.form("cadastro",routes.Administradores.cadastrar(), "POST"){
			
			@label("Dados Pessoais")
			@inputText(formAdm("nome").value, "Nome Completo", "nome")
			@inputText(formAdm("email").value, "E-mail", "email")
			@inputText(formAdm("matricula").value, "Matrícula", "matricula")
			@inputText(formAdm("login").value, "Login", "login")
			@inputPassword(formAdm("password").value, "Senha", "password"," ")
			@inputPassword(formAdm("password").value, "Confirmar Senha", "password", "validaSenha(this)")
			@label("Endereço")
			@inputText(formEndereco("Rua").value,"Rua","rua")
			@inputText(formEndereco("Cidade").value,"Cidade","cidade")
			@inputText(formEndereco("Estado").value,"Estado","estado")
			@inputText(formEndereco("CEP").value,"CEP","CEP")
			
			<p></p>
			<input class="button" type="submit" value="Cadastrar">
		
		}
	
	</div>

}