@(formCliente: Form[Cliente],formEndereco: Form[Endereco])
@import meuhelper._
@main("Inicio") {

	<div class="banner">
      <div class="wrapper clearfix">
        @link("#","Bem Vindo Fulano!") 
        
        <h1>Pixel Perfect <br> Recursos &amp; Mockups</h1>
      </div>
    </div>
    
    <div class="nav">
        <div class="wrapper">
        @titulo("Cadastre-se em nossa Loja","title","true")
        </div>
     </div>

	<div class="wrapper_cadastro">
			
		@meuhelper.form("cadastro",routes.Administradores.novo(), "POST"){
			
			@label("Dados Pessoais")
			@inputText(formCliente("nome").value, "Nome Completo", "nome")
			@inputText(formCliente("email").value, "E-mail", "email")
			@inputText(formCliente("senha").value, "Senha", "senha", " ")
			@inputText(formCliente("senha").value, "Confirmar Senha", "senha", "validaSenha(this)")
			@label("Endereço")
			@inputText(formEndereco("Rua").value,"Rua","rua")
			@inputText(formEndereco("Cidade").value,"Cidade","rua")
			@inputText(formEndereco("Estado").value,"Estado","estado")
			@inputText(formEndereco("CEP").value,"CEP","cep")
			
			<p></p>
			<input class="button" type="submit" value="Cadastrar">
		
		}
	
	</div>

}