@(formProduto: Form[Produto], categorias: List[Categoria])
@import meuhelper._
@main("Inicio") {

	<div class="banner" onclick="location.href='/';">
      <div class="wrapper clearfix">
        @link("#","Bem Vindo Fulano!") 
        
        <h1>Pixel Perfect <br> Loja Intranet</h1>
      </div>
    </div>
    
    <div class="nav">
        <div class="wrapper">
        @titulo("Editar Dados Produtos","title","true")
        </div>
     </div>
     
     <div class="wrapper_cadastro">
     	
     	@meuhelper.form("cadastro",routes.Produtos.atualizar(), "POST"){
     	
     		@label("Dados do Produto")
     		@inputText(formProduto("id").value, "Id", "id", "required")
     		@inputText(formProduto("nome").value, "Nome", "nome", "required")
     		@inputText(formProduto("preco").value, "Preço", "preco", "required")
     		@textarea("descricao",formProduto("descricao").value, " " )
     		@label("Foto para o Produto")
     		@inputFile("foto", formProduto("foto").value)
     		@label("Disponível? - (marque se sim)")
     		@inputCheckbox("disponivel", "checked", "true")
     		
     		<p></p>
     		<select class="browser-default" name="categoria.id">
			<option disabled selected>Selecione Categoria</option>
			@for(categoria <- categorias){
			<option value="@(categoria.id)" @{if (formProduto("categoria.id") == categoria.id) "selected" else ""}>
				@(categoria.nome)
			</option>
			} 
			</select>
     		<p></p>
     		
     		<input class="button" type="submit" value="Editar">
     	}
     	
     </div>
}