@(formAdm: Form[Administrador],formEndereco: Form[Endereco])
@import meuhelper._
@main("Inicio") {

	<div class="banner" onclick="location.href='/';">
      <div class="wrapper clearfix">
        @link("#","Bem Vindo Fulano!") 
        
        <h1>Pixel Perfect <br> Loja Intranet</h1>
      </div>
    </div>
    
    <div class="nav">
        <div class="wrapper">
        @titulo("Editar dados Administradores","title","true")
        </div>
     </div>

	<div class="wrapper_cadastro">
			
		@meuhelper.form("cadastro",routes.Administradores.atualizar(), "POST"){
			
			@label("Dados Pessoais")
			@inputText(formAdm("id").value, "Id", "id", "required")
			@inputText(formAdm("nome").value, "Nome Completo", "nome", "required")
			@inputText(formAdm("email").value, "E-mail", "email", "required")
			@inputText(formAdm("matricula").value, "Matrícula", "matricula", "required")
			@inputText(formAdm("login").value, "Login", "login", "required")
			@inputPassword(formAdm("password").value, "Senha", "password"," ","password"," ")
			@inputPassword(formAdm("password").value, "Confirmar Senha", "password", "checkPass(); return false;","password2"," ")
			@label("Endereço")
			@inputText(formEndereco("Rua").value,"Rua","rua", "required")
			@inputText(formEndereco("Cidade").value,"Cidade","cidade", "required")
			@inputText(formEndereco("Estado").value,"Estado","estado", "required")
			@inputText(formEndereco("CEP").value,"CEP","CEP", "required")
			
			<p></p>
			<input class="button" type="submit" value="Editar">
		
		}
	
	</div>

}