@(formCategoria: Form[Categoria])
@import meuhelper._
@main("Inicio") {

	<div class="banner">
      <div class="wrapper clearfix">
        @link("#","Bem Vindo Fulano!") 
        
        <h1>Pixel Perfect <br> Loja Intranet</h1>
      </div>
    </div>
    
    <div class="nav">
        <div class="wrapper">
        @titulo("Editar Dados Categorias","title","true")
        </div>
     </div>
     
     <div class="wrapper_cadastro">
     	
     	@meuhelper.form("cadastro",routes.Categorias.atualizar(), "POST"){
     
     		@label("Dados da Categoria")
     		@inputText(formCategoria("id").value, "Id", "id", "required")
     		@inputText(formCategoria("nome").value, "Nome Categoria", "nome", "required")

    		@separator("")
     		<input class="button" type="submit" value="Editar">
     	}
     	
     </div>
}