@(produto: Produto, produtos: List[Produto], categorias: List[Categoria])
@import meuhelper._
@main("Inicio") {

    <div class="banner" onclick="location.href='/';">
      <div class="wrapper clearfix">
        @link("#","Log in") 
        <a>&nbsp;</a>
        @linkcall(routes.Clientes.novo(),"Cadastrar-se") 
        <h1>Pixel Perfect <br> Recursos &amp; Mockups</h1>
      </div>
    </div>
    
    <div class="nav">
        <div class="wrapper">
          <a onclick="myDropdown()" class="dropbtn">Categorias</a>
          <div id="dropdown" class="dropdn-content">
          @for(categoria <- categorias){
            @linkcall(routes.Categorias.buscaCategorias(categoria.getId()), categoria.getNome())
		  }
          </div>
          @titulo("Loja","search"," ")
        </div>
     </div>
     
   	 <div class="wrapper clearfix">
   	 	
   	 	@label(produto.getNome())
   	 	<p></p>
   	 	<img src="@produto.getFoto()" />
   	 	<!-- <a href="#" class="button_comprar"> Comprar</a> -->
   	 	<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
		<form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post">
		<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
		<input type="hidden" class="button_comprar" name="code" value="2D3A1D740A0A36400428AF8D5278A7F3" />
		<input type="hidden" class="button_comprar" name="iot" value="button" />
		<input type="image" class="button_comprar" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/209x48-comprar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
		</form>
		<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
   	 
   	 </div>
   	 <div class="wrapper clearfix">
   	 	<p></p>
        <h2>R$ @produto.getPreco()</h2>
   	 	<div class="descricao">
   	 		<p>@produto.getDescricao()</p>
   	 	</div>
   	 </div>
   	 @separator(" ")
   	 <div class="wrapper clearfix">
        <p class="mais_produtos">Mais Produtos</p>
        <p></p>
	   	 <ul class="resources clearfix">
		   	 @for(produto <- produtos){
		     	@if(produto.getDisponivel()==true){
		     		@listacustom(routes.Produtos.verCompraProduto(produto.getId()),produto.getNome(),produto.getFoto())
		     	}
		     }
	     </ul>
     </div>

}