@(produtos: List[Produto], categorias: List[Categoria])
@import meuhelper._
@main("Inicio") {

    <div class="banner">
      <div class="wrapper clearfix">
        @link("#","Log in") 
        <a>&nbsp;</a>
        @linkcall(routes.Clientes.novo(),"Cadastrar-se") 
        <h1>Pixel Perfect <br> Recursos &amp; Mockups</h1>
      </div>
    </div>
    
    <div class="nav">
        <div class="wrapper">
          <a onclick="myDropdown()" class="dropbtn">Categorias</a>
          <div id="dropdown" class="dropdn-content">
          @for(categoria <- categorias){
            @link("#", categoria.getNome())
		  }
          </div>
          @busca("Busca","search", "iPhone Template")
        </div>
     </div>
     
     <ul class="resources clearfix">
     @for(produto <- produtos){
     	@if(produto.getDisponivel()==true){
     		@lista("",produto.getNome(),produto.getFoto(),produto.getPreco())
     	}
     }
     </ul>

}
