@(formAdm: Form[Administrador])
@import meuhelper._
@main("Login Adm") {

	<div class="banner">
      <div class="wrapper clearfix" onclick="location.href='/';">
        @linkcall(routes.Clientes.novo(),"Cadastrar-se") no!") 
        
        <h1>Pixel Perfect <br> Loja Intranet</h1>
      </div>
    </div>
    
    <div class="nav">
        <div class="wrapper">
        @titulo("Login Administrador","title","true")
        </div>
     </div>
     
     <div class="wrapper_cadastro">
     	@meuhelper.form("Login",routes.Administradores.login(), "POST"){
     		
     		@label("Login:")
     		@inputText(formAdm("login").value, "Login", "login", " ")
     		@label("Senha:")
     		@inputText(formAdm("password").value, "Senha", "password", " ")
     		<p></p>
     		<input class="button" type="submit" value="Acessar">
     	
     	}
     </div>
     @separator("")
}